@(contact: Contact)
@main("join"){
	<h3>Form Submitted</h3>
	
	<fieldset>	
					<div class="row-form">
						<label class="label" for="firstname">First name</label>
						@contact.firstName
					</div>
					
					<div class="row-form">
						<label class="label" for="lastname">Last name</label>
						@contact.lastName
					</div>
					
					<div class="row-form">
						<label class="label" for="email">E-mail</label>
						@contact.email
					</div>	
					
					<div class="row-form">
						<label class="label" for="username">Username</label>
						@contact.userName					
					</div>
					
					
				</fieldset>
				
				<p><a href="@routes.Application.showContacts()" class="fanclub"> View existing members </a></p>
				}