@main("Home"){
				<h2>Welcome to the Green Army Fanzone</h2><div class="image">					
					<div class="huddle"><img src="/assets/images/seniormen.jpg" >					
					<p></p>
				</div>
				<div  class ="newsleft" id="left">
					<h2>News</h2>
					<div class="news">
					<a href="http://www1.skysports.com/news/11095/9345042/" >
					<img src="/assets/images/o'neill.jpg" style ="width:95%; height:150px";> 
					<p>O&#39;Neill names provisional squad for Scotland & USA</a></p>
					
					<a href="http://www.independent.ie/sport/soccer/other-soccer/roy-keane-at-pains-to-shield-family-in-latest-book-30654037.html" >
					<img src="/assets/images/newsItem2.jpg" width="95%" height="140px" alt="Managers" >
					<p>Keane talks about new book</p></a>
					</div>
					</div>
				</div>
				
				<div class="newsright" id="right">
					<h2>Tickets</h2>
					<a href="http://www.ticketmaster.ie/3-international-friendly-republic-of-dublin-11-18-2014/event/18004D2BF2845CF6?artistid=1123642&majorcatid=10004&minorcatid=741" class="store">					
					<div class="news">
					<img src="/assets/images/tickets.jpg" style ="width:95%; height:160px; ";> 
					</a>
					<h2>Shop</h2> 
					<div class="news">
					<a href="@routes.Application.shop()" class="store">
					<img src="/assets/images/delivery.jpg" style ="width:95%; height:160px; ";> 
					</a>
				</div>
								
				</div>
				
				</div>
					
					
			

			}