@main("player"){
				<div id="left">
					<h2>Shay Given</h2>
					
					<p class ="big"><b>Date of birth:</b> April 20, 1976<br><b>Position:</b> Goalkeeper<br><b>Caps:</b> 124<br>
					<b>Height:</b> 1.85m<br><b>Club: </b>Aston Villa<br><b>Foot: </b>Right
					<br><b>Place of birth:</b> Donegal<br><b>Debut:</b> Russia (away)<br> March 1996<br><b>Goals scored: </b> 0<br>
					<b>Red cards:</b> 1<br>					
					</p>
				
				
				</div>
				
				<div id="right">
					<img src="/assets/images/shaygiven.jpg" width="100%" height="100%" position="relative" alt="Shay Given" > 
					
				
				
				</div>
					
					
			

			</div>
			
			<div id="bottom">
				<p class="profile">
				Given represented the Republic of Ireland at youth level before earning five caps for the 
				Republic of Ireland national under-21 team.Although he did not become a regular first 
				team player for Blackburn Rovers, Given's performances while on loan at Swindon and Sunderland
				led to him being called up to the Republic of Ireland squad in 1996. He made his debut for the 
				national team on 27 March 1996, in a game against Russia. Although Ireland failed to 
				qualify for the 1998 FIFA World Cup or UEFA Euro 2000, Given established himself as first-choice 
				goalkeeper. <br>He played in all of his nation's games at the 2002 FIFA World Cup. 
				With draws against Cameroon and Germany and a 3-0 win against Saudi Arabia, 
				the team reached the second round of the competition. Meeting Spain in the knockout round, 
				Ireland forced penalties with the score at 1 - 1 at the end of extra time. 
				Three missed penalties for Ireland ended their participation in the tournament, and Spain progressed to the next round. 
				Given was part of the team for most of the 2006 FIFA World Cup qualifying campaign; however a draw with 
				Switzerland meant Ireland failed to qualify for the finals of the competition in Germany. <br>He equalled Packie Bonner's record 
				of 80 caps against Slovakia on 28 March 2007. Given obtained his 100th cap against Montenegro at Croke Park, Dublin on 14 October 
				2009 in a 2010 FIFA World Cup qualifying game. Ireland reached a qualifying playoff against France, but were controversially 
				eliminated by a goal scored after Thierry Henry handled the ball. Given was part of the team that secured qualification for 
				UEFA Euro 2012 with a play-off victory against Estonia. Given played in the Euro 2012 championship as Ireland were 
				eliminated in the group stage. <br>Given is the second most capped Republic of Ireland player (after Robbie Keane) 
				as he holds 125 caps and had 55 clean sheets in the process.
				He gave his international playing fees to charity.
				<p><a href="@routes.Application.team" ><< Return to player selection.</a></p>
				</p>
			}