
	@main("Shop"){		
					<h2>Welcome to the Green Army Fanzone</h2><div class="image">					
						
					<table style="width:98%">
						<tr>
							<td><div id="buy">
								<p class="buy" ></p>
								<a href="http://www.fai.ie/ireland/tickets-membership/upcoming-fixtures" class="home"><img src="assets/images/ticket.jpg" style="height:100px; width:110px;" ></a>
								
								<h4>Tickets</h4>
								
							</div>
							</td>
							
							<td><div id="buy">
								<p class="buy" ></p>
								<a href="http://www.faishop.com/category/MensT" class="home"><img src="assets/images/training.jpg" style="height:100px; width:100px;" ></a>
								
								<h4>Training</h4>
								
							</div>
							</td>
							
							<td><div id="buy">
								<p class="buy" ></p>
								<a href="http://www.faishop.com/category/MensJ" class="home"><img src="assets/images/adults.jpg" style="height:100px; width:100px;"  ></a>
								
								<h4>Mens</h4>
								
							</div>
							</td>
						</tr>
						<tr>
							<td><div id="buy">
								<p class="buy" ></p>
								<a href="http://www.faishop.com/category/WomensJ" class="home"><img src="assets/images/womens.jpg" style="height:100px; width:100px;" ></a>
								
								<h4>Womens</h4>
								
							</div>
						</td>
							<td><div id="buy">
								<p class="buy" ></p>
								<a href="http://www.faishop.com/category/JuniorJ" class="home"><img src="assets/images/kids.jpg" style="height:100px; width:100px;" ></a>
								
								<h4>Kids</h4>
								
							</div>
						</td>
							<td><div id="buy">
								<p class="buy" ></p>
								<a href="http://www.faishop.com/category/MensT" class="home"><img src="assets/images/mug.jpg" style="height:100px; width:100px;" ></a>
								
								<h4>Gifts</h4>
								
							</div>
						</tr>
							
							
					</table>
				
					
					

					</div>
					
					
			}