@main("Squad"){
				<h2>Meet the players</h2>
				
				<img class="teamphoto" src="/assets/images/Ireland-v-Germany-team-photo.jpg" width="350" height="200" alt="Team Photo">
				
				<div id ="Selection">
						<h4>Select a player</h4>
						<div class="box">
							<h5><a href="#Goalkeepers">Goalkeepers</a></h5>
							
							<select name= "goalkeepers">
						  <option value="volvo">David Forde</option>
						  <option value="saab">Shay Given</option>
						  <option value="opel">Kieran Westwood</option>
							</select>
						<h5><a href="#Def">Defenders</a></h5>
							<select name= "defenders">
						<option value="volvo">Gary Breen</option>
						<option value="saab">Richard Dunne</option>
						<option value="opel">Marc Wilson</option>
						<option value="audi">John O'Shea</option>
						<option value="audi">Seamus Coleman</option>
						<option value="audi">Paul McShane</option>
							</select>
						<h5><a href="#Mid">Midfielders</a></h5>
							<select name= "midfielders">
						<option value="volvo">Stephen Quinn</option>
						<option value="saab">Wes Hoolahan</option>
						<option value="opel">Glen Whelan</option>
						<option value="audi">Darren Gibson</option>
						<option value="audi">David Meyler</option>
						<option value="audi">Jeff Hendrick</option>
						<option value="audi">James McCarthy</option>
							</select>
						<h5><a href="#For">Forwards</a></h5>
							<select name= "forwards">
						  <option value="volvo">Robbie Keane</option>
						  <option value="saab">Shane Long</option>
						  <option value="opel">Kevin Doyle</option>
						  <option value="audi">Johnaton Walters</option>
							</select>
					</div>
			</div>
				
				<div id="Goalkeepers">
					<h3>GoalKeepers<a id="GK"></a></h3>
					<table style="width:98%">
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<a href="@routes.Application.player()" class="home"><img src="/assets/images/ShayProfile.jpg"  alt="Gary Breen"></a>
								<h4>Shay Given</h4>
								<p><em>Age:</em> 38<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Aston Villa</p>
							</div>
							</td>
							
							<td><div id="player" class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
						</tr>
							
							
					</table>
				</div>
				<div id="Defenders">
					<h3><a id="Def"></a>Defenders</h3>
					<table style="width:98%">
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
						</tr>
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							</tr>
					</table>
					<p><a href="#Container" ><< Back to top</a></p>
				</div>	
				<div id="Midfielders">
					<h3><a id="Mid"></a>Midfielders</h3>
				
					<table style="width:98%">
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
						</tr>
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							</tr>
					</table>
					<p><a href="#Container" ><< Back to top</a></p>
				</div>
				<div id="Forwards">
					<h3><a id="For"></a>Forwards</h3>
				<table style="width:98%">
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
						</tr>
						<tr>
							<td><div id="player">
								<p class="player" id="1"></p>
								<img src="/assets/images/BREEN.jpg"  alt="Gary Breen">
								<h4>Gary Breen</h4>
								<p><em>Age:</em> 45<br>
								<em>Caps:</em> 307<br>
								<em>Club: </em>Real Madrid</p>
							</div>
							</td>
							
							
							</tr>
					</table>
					<p><a href="#Container" ><< Back to top</a></p>
				</div>
			}